body {
  background: rgb(179, 219, 243);
}
.ck-editor {
  width: 800px !important;
  margin: auto !important;
  margin-top: 30px !important;
}
.ck-content {
  min-height: 300px;
}
.to {
  width: 800px !important;
  padding: 8px !important;
  outline: none !important;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}
.send {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}
#demo {
  position: fixed;
  top: 10px;
  right: 10px;
  display: none;
  background: lightskyblue;
  padding: 10px;
}
